@import "~/assets/styles/import.scss";

.page-path {
  padding: 20px 0;
  border-bottom: 1px solid $white-seven;

  > div {
    &:not(:last-child) {
      padding-right: 15px;
    }
  }

  > img {
    &:not(:last-child) {
      padding-right: 15px;
    }
  }
}
