$device-name: (m, t, d);
$device-size: (0px, 540px, 960px, 65535px);

$black-two: #000;

$white: #fff;
$white-four: #fcfcfc;
$white-five: #d5d5d5;
$white-six: #d4d4d4;
$white-seven: #f0f0f0;
$white-eight: #f3f3f3;
$white-nine: #f8f8f8;
$white-ten: #dcdcdc;

$warm-grey: #9b9b9b;
$warm-grey-two: #7e7e7e;
$greyish-brown: #4a4a4a;
$greyish-brown-three: #555555;
$dark-grey: #2a2d30;

$dull-orange: #d0a129;
$yellow-orange: #f8b500;

$yellow-ochre: #d0a404;

$dark-beige: #ad8b61;

$blue-grey: #7d81b1;

$grass: #4d9c2d;
